<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div class="alert alert-warning" id="error_explanation">
      <h4><%= pluralize(task.errors.count, "error") %> 以下の原因を修正してください: </h4>
      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, %w(未仕掛 仕掛中 完了), {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit '投稿', class: 'btn btn-primary' %>
  </div>
<% end %>
